* {
    box-sizing: border-box;
}
html, body {
    overflow-x: hidden;
}
body {
    width: 100vw;
    padding: 0;
    margin: 0;
}
#wrapper {
    width:100%;
    display:grid;
    grid-template-columns: 18rem calc(100vw - 18rem);
    grid-template-rows: 25rem max-content 6rem;
}
/* -------------------- Header ----------------------------- */
#header {
    width:100vw;
    height: 25rem;
    background-color:  #0099FF;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    display:grid;
    grid-template-rows: 5rem 20rem;
    grid-template-columns: 18rem calc(100% - 18rem);
}
#header img {
    grid-column: 1 / 3; /* Trải rộng cả 2 cột */
    /* grid-row: 2 / 3; Đặt ảnh ở hàng 2 */
    width: 100%;
    height: 20rem;
    
}
#header a:first-child {
    color: white;
    text-decoration: none;
    line-height: 5rem;
    padding-left: 5rem;
    font-size: 2rem;
}
#login_nav {
    grid-column:2/3;
    grid-row: 1/2;
    width: 100%;
    height: 100%;
    padding: 0 5rem;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: flex-end;
}
/* #login_nav a:not([href]):not([class]) {
    display: none;
} */
#login_nav a:last-child img {
    width: 3rem;
    height: 3rem;
}
#login_nav a[href="modules/xlDangXuat.php"]{
    text-decoration: none;
    color:#FF9900;
    font-size:1.2rem;
    font-weight: 500;
}
#login_nav p {
    font-size: 1.2rem;
    margin: 0 2rem;
    color: white;
}
#login_nav form {
    margin:0;
    color:white
}
#login_nav form input {
    margin-left: 0.5rem;
    margin-right: 0.2rem;
}
#login_nav form input[type="text"],input[type="password"] {
    border: 0;
    width: 10rem;
    outline: none;
}
#login_nav form input[type="submit"],input[type="button"] {
    border:0;
    outline:none;
    width: 7rem;
    border-radius: 0.3rem;
}
/* -------------------- Header ----------------------------- */
/* --------------------- sidebar ----------------------- */

#sidebar {
    width: 100%;
    height: max-content;
    grid-row: 2 / 3;
}
#sidebar dl {
    margin: 0.1rem 0;
}
#sidebar dl dt{
    width: 18rem;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    color: white;
    background-color: #0099FF;
    margin: 0;
}
#sidebar dl dt a {
    display: none;
}
#sidebar dl dd {
    width: 18rem;
    height: 3rem;
    line-height: 3rem;
    margin: 0;
    padding-left: 2rem;
    background-color: #FF9900;
    border-top: 0.1rem solid white;
    /* border-bottom:  0.1rem solid white; */
}
#sidebar dl dd:hover {
    cursor: pointer;
    opacity: 0.6;
}
#sidebar dl dd a:last-child {
    text-decoration: none;
    display: block;
    color: white;
    font-weight: 500;
    width: 100%;
    height: 100%;
}
/* --------------------- sidebar ----------------------- */
/* -------------------- content ----------------------- */
#content {
    width: 100%;
    height: max-content;
    grid-row: 2 / 4;
    margin: 1rem;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-auto-rows: auto;
    gap: 1rem;
}
#content h2 {
    grid-column: 1/3;
    height: 5rem;
    line-height: 5rem;
    padding-left: 5rem;
    font-size: 3rem;

}
#content .box {
    width: 100%;
    height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#content .box img {
    width: 15rem;
    height: 15rem;
}
#content .box .pname {
    font-size: 2rem;
    font-weight: 500;
    color: #333333;
}
#content .box .pprice {
    font-size:1.3rem;
    color: red;
    font-weight: 500;
}
#content .box .action {
    flex-grow: 1;
}
#content .box .action a {
    text-decoration: none;
    font-size: 1.3rem;
    color: #0099FF;
    font-weight: 500;
}
#chitietsp {
    grid-column: 1/3;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: auto;
    grid-gap: 10px 10px;
    width: 100%;
    height: max-content;
}
#chitietleft {
    grid-column: 1/2;
}
#chitietleft img{
    width: 25rem;
    height: 25rem;
}
#chitietright{
   grid-column: 2/3;
   padding: 0 2rem;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   
}
#chitietright div {
    width: 100%;
    display: flex;
    flex-direction: row;
    /* align-items: center;     */

}
#chitietright div span {
    font-size: 1.8rem;
}
#chitietright div > span:first-child {
    width: 30%;
    font-weight: 500;
    text-align: right;
}
#chitietright div > span:last-child {
    width: 60%;
    font-weight: 500;
    margin-left: 2rem;
}
#mota {
    grid-column: 1/3;
    font-size:1.3rem;
    font-weight: 500;
    font-style:italic
}
/* -------------------- content ----------------------- */
/* -------------------- Footer ------------------------- */
#footer {
    width: 100%;
    height: 6rem;
    line-height: 6rem;
    text-align: center;
    grid-column: 1/3;
    background-color: #0099FF;
    font-size: 1.2rem;
    font-weight: 500;
    color: white;
}
/* -------------------- Footer ------------------------- */


